<%
# Issue Extensions plugin for Redmine
# Copyright (C) 2010-2011  Takashi Takebayashi
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-%><%
project = Project.find @issue.project_id
unless project.module_enabled? :issue_extensions == nil
  parameters = request.parameters %>
<hr />
<div id="issue_extensions_form">
  <%= hidden_field_tag :relation_issue_id, parameters[:relation_issue] %>
  <script type="text/javascript">
    function selectOneself() {
      /* プルダウンオブジェクト取得 */
      var options = document.getElementById('issue_assigned_to_id');
      var oneself_value = '<%= User.current.id %>'
      for (var i = 0; i < options.length; i++){
        var options_value = options[i].value;
        if (oneself_value == options_value) {
          options.selectedIndex = i;
          break;
        }
      }
    }

    function onload_assigned_to_oneself() {
      var select_assigned = document.getElementById('issue_assigned_to_id');
      /* input要素生成 */
      var input_assigned_to_oneself = document.createElement("input");
      input_assigned_to_oneself.setAttribute("id", "assigned_to_oneself");
      input_assigned_to_oneself.setAttribute("name", "commit");
      input_assigned_to_oneself.setAttribute("type", "button");
      input_assigned_to_oneself.setAttribute("value", "<%= l(:button_assigned_to_oneself) %>");
      input_assigned_to_oneself.setAttribute("onclick", "selectOneself()");
      /* プルダウンオブジェクトの親要素へ追加 */
      select_assigned.parentNode.appendChild(input_assigned_to_oneself);
    }
    window.onload = onload_assigned_to_oneself();
  </script>
</div><%
end %>
